.icons{
    margin-top: 46px;
    width: 258px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 43%;
    margin-bottom: 208px;
}
.icons>button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    transition: 0.3;
}
.icons>button:hover>svg>path{
    fill:#80BF76 ;
}
button:active{
    background:#80BF76;
    ;
}